body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  padding: 0;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .container {
    width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .logo {
    font-style: normal;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.logo--start {
  color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .logo--start {
    padding-left: 15px;
  }
}

.logo--end {
  color: #212121;
}

.logo__footer--end {
  color: #ffffff;
}

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (max-width: 1170px) {
  .nav__list {
    margin-left: 88px;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover {
  color: #2196f3;
}

.nav__link:focus {
  color: #2196f3;
}

.nav__link-marker {
  position: relative;
}

.nav__link-marker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: transparent;
  margin-bottom: -1.5px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link-marker:hover::after {
  background-color: #2196f3;
}

.nav__link-marker:focus::after {
  background-color: #2196f3;
}

.nav__link-marker--on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  margin-bottom: -1.5px;
  background-color: #2196f3;
}

.contact-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .contact-nav {
    display: inline-block;
    padding-right: 15px;
  }
}

.contact-nav__item + .contact-nav__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .contact-nav__item + .contact-nav__item {
    margin-left: 0;
    margin-top: 10px;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .contact-nav__link {
    padding: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .contact-nav__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.contact-nav__pic {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .contact-nav__pic {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .contact-nav__pic-tel {
    width: 10px;
    height: 14px;
  }
}

.contact-nav .contact-nav__link:hover,
.contact-nav .contact-nav__link:focus {
  color: #2196f3;
  text-decoration: none;
  fill: #2196f3;
}

.burger {
  position: relative;
  padding-left: 295px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.icon-menu,
.icon-cross {
  fill: #212121;
}

.icon-menu:hover,
.icon-cross:hover {
  fill: #2196f3;
}

.icon-cross {
  width: 18px;
  height: 18px;
}

.icon-menu {
  width: 24px;
  height: 24px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.pre-hero__line {
  background-color: #ececec;
  height: 1px;
}

.hero {
  display: block;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-hover.jpg");
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/Img-hero-hover.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/Img-hero-hover.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/Img-hero-hover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: white;
}

.hero__headline {
  padding-top: 200px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .hero__headline {
    padding-top: 118px;
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background-color: #2196f3;
  border: 0 solid #2196f3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-bottom: 200px;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .hero__button {
    margin-bottom: 118px;
  }
}

.hero__button-text {
  color: white;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.benefits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits {
    display: block;
    padding-top: 45px;
    margin-top: -15px;
    padding-bottom: 60px;
    margin-bottom: -30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .benefits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 45px;
    margin-top: -15px;
    padding-bottom: 60px;
    margin-bottom: -30px;
  }
}

.benefits__item {
  width: 270px;
  outline: 0.5 solid aqua;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits__item {
    width: 450px;
    margin-bottom: 15px;
    outline: 0.5 solid aqua;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .benefits__item {
    width: 354px;
  }
}

.benefits__item::before {
  content: "";
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__item--aerial::before {
  background-image: url("../images/svg/benefits/benefits-aerial.svg");
}

.benefits__item--clock::before {
  background-image: url("../images/svg/benefits/benefits-clock.svg");
}

.benefits__item--diagarm::before {
  background-image: url("../images/svg/benefits/benefits-diagram.svg");
}

.benefits__item--astronaut::before {
  background-image: url("../images/svg/benefits/benefits-astronaut.svg");
}

.benefits__item + .benefits__item {
  margin-left: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits__item + .benefits__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .benefits__item + .benefits__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits__item {
    width: -webkit-calc(100% - 2 * 15px)/1;
    width: calc(100% - 2 * 15px)/1;
    margin: 15px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1170px) {
  .benefits__item {
    width: -webkit-calc(100% - 3 * 15px)/2;
    width: calc(100% - 3 * 15px)/2;
    margin: 15px;
  }
}

.benefits__item {
  margin-bottom: 30px;
}

.benefits__title {
  outline: 0.5 solid aqua;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__description {
  outline: 0.5 solid aqua;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits__description {
    text-align: left;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1170px) {
  .whatwedo {
    display: none;
  }
}

.whatwedo__headline {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.whatwedo__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.whatwedo__item {
  margin-bottom: -10px;
  position: relative;
}

.whatwedo__item + .whatwedo__item {
  margin-left: 30px;
}

.whatwedo__item-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  vertical-align: 50%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%);
  margin-bottom: 7px;
  margin-top: 0;
}

.our-team {
  background-color: #f5f4fa;
  margin-top: 94px;
}

@media screen and (max-width: 1139px) {
  .our-team {
    margin-top: 0;
  }
}

.our-team__headline {
  display: block;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
}

@media screen and (max-width: 1139px) {
  .our-team__headline {
    padding-top: 60px;
  }
}

.our-team__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-left: 0;
  margin: 0 0;
  padding-top: 50px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-team__list {
    padding-top: 30px;
    margin-top: -15px;
    padding-bottom: 60px;
    margin-bottom: -15px;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .our-team__list {
    padding-top: 30px;
    margin-top: -15px;
    padding-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .our-team__card + .our-team__card {
    margin-left: 15px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .our-team__card {
    width: 354px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-team__card {
    width: -webkit-calc(100% - 2 * 15px)/1;
    width: calc(100% - 2 * 15px)/1;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .our-team__card {
    width: -webkit-calc(100% - 3 * 15px)/2;
    width: calc(100% - 3 * 15px)/2;
    margin: 15px;
  }
}

.our-team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

.our-team__photo {
  margin-bottom: -5px;
}

.our-team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin: 0 auto;
}

.our-team__name + .our-team__name {
  padding-left: 30px;
}

.our-team__personal {
  background-color: white;
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

.our-team__job {
  text-align: center;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 16px;
  color: #757575;
}

.our-team__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .our-team__social {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-team__social-link {
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 0;
  margin-bottom: 30px;
  background-position: center;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover,
.our-team__social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.our-team__social-list + .our-team__social-list {
  margin-left: 10px;
}

.our-team__social-list:first-child {
  margin-left: 32px;
}

.our-team__social-list:last-child {
  margin-right: 32px;
}

.customer__headline {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .customer__headline {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .customer__headline {
    padding-top: 60px;
  }
}

.customer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customer__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .customer__list {
    padding-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 60px;
    margin-bottom: -15px;
  }
}

.customer__item {
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.customer__item + .customer__item {
  margin-left: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customer__item + .customer__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .customer__item + .customer__item {
    margin-left: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customer__item {
    width: 210px;
    padding: 16px 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .customer__item {
    width: 226px;
    padding: 16px 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customer__item {
    width: -webkit-calc(100% - 3 * 15px)/2;
    width: calc(100% - 3 * 15px)/2;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .customer__item {
    width: -webkit-calc(100% - 6 * 15px)/3;
    width: calc(100% - 6 * 15px)/3;
    margin: 15px;
  }
}

.customer__name {
  width: 106px;
  height: 60px;
  position: absolute;
  fill: #afb1b8;
  border-color: #afb1b8;
  -webkit-transition-property: fill, border-color;
  -o-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__name:hover,
.customer__name:active {
  fill: #2196f3;
}

.customer__item:hover,
.customer__item:active {
  border: 1px solid #2196f3;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__position {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

.footer__adress {
  display: block;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__adress {
    margin-bottom: 60px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__adress {
    padding-bottom: 60px;
  }
}

.footer__adress__street {
  display: inline-block;
  color: white;
  margin-top: 20px;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__adress__contact {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__adress__contact {
    display: inline-block;
    text-align: center;
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__adress__contact {
    margin-top: 8px;
  }
}

.footer__first {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-right: 70px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__first {
    display: block;
    text-align: center;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__first {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-left: 76px;
  }
}

.footer__second {
  display: inline-block;
  text-align: center;
  padding-left: 70px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__second {
    display: block;
    margin: 0;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__second {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-left: -50px;
  }
}

.footer__title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .footer__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__second__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  margin-top: 0;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .footer__second__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__second__social {
    padding-top: -30px;
    margin-bottom: 0;
  }
}

.footer__second__list + .footer__second__list {
  padding-left: 10px;
}

.footer__second__link {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  fill: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  -o-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__second__link:hover,
.footer__second__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer__third {
  padding-top: 5px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__third {
    display: block;
    text-align: center;
  }
}

.footer__subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__subscribe {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__subscribe {
    display: block;
  }
}

.footer__subscribe__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__subscribe__label {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__subscribe__label {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  padding: 15px 0 15px 16px;
  margin-right: 12px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__subscribe__input {
    width: 450px;
    margin: 0px;
  }
}

.footer__subscribe__button {
  cursor: pointer;
  position: relative;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 0ch;
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__subscribe__button {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer__subscribe__button {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__subscribe__button--text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 28px;
  margin: 0;
}

.footer__subscribe__button--text::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  top: 13px;
  margin-left: 10px;
  margin-right: 28px;
  background-image: url(../images/svg/icon-send.svg);
}

.button-portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 94px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-portfolio {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 60px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .button-portfolio {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    margin-bottom: -15px;
  }
}

.button-portfolio__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0 solid #f5f4fa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 0;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  -o-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio__item + .button-portfolio__item {
  margin-left: 8px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .button-portfolio__item + .button-portfolio__item {
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .button-portfolio__item {
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.button-portfolio__item:hover,
.button-portfolio__item:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.product__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-top: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.product__grid > li:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .product__grid > li:nth-last-of-type(-n + 3) {
    margin-bottom: 15px;
  }
}

.product__grid:nth-last-child(-n + 3) {
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .product__grid:nth-last-child(-n + 3) {
    padding-bottom: 60px;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .product__grid {
    padding-top: 25px;
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .product__grid {
    padding-top: 40px;
    margin-top: -15px;
  }
}

.product__item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 0;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .product__item {
    width: 450px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1170px) {
  .product__item {
    width: 354px;
  }
}

.product__item:hover .product__element--overlay {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.product__item:focus .product__element--overlay {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.product__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .product__item:nth-child(3n) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .product__item {
    width: -webkit-calc(100% - 2 * 15px)/1;
    width: calc(100% - 2 * 15px)/1;
    margin: 15px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1170px) {
  .product__item {
    width: -webkit-calc(100% - 3 * 15px)/2;
    width: calc(100% - 3 * 15px)/2;
    margin: 15px;
  }
}

.product__element {
  position: relative;
  overflow: hidden;
}

.product__item:hover,
.product__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.product__element--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__info {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: -10px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .product__info {
    height: 141px;
  }
}

.product__title {
  display: block;
  color: #212121;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  text-align: Left;
  letter-spacing: 0.06em;
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.product__example {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.header {
  position: relative;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 828px;
  background-color: #ffffff;
  padding: 20px;
  font-size: 20px;
  z-index: 1;
}

.menu-container.is-open {
  display: block;
}

.mobile__close-icon {
  width: 19px;
  height: 19px;
  margin-left: 436px;
  margin-top: 21px;
  margin-right: 10px;
  margin-bottom: 9px;
  fill: #212121;
}

.mobile__close-icon:hover {
  fill: #2196f3;
}

.nav__mobile-list {
  list-style: none;
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 302px;
  padding: 0;
}

.nav__mobile-link {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
}

.nav__mobile-link:hover, .nav__mobile-link:focus {
  color: #2196f3;
}

.nav__mobile-item {
  margin-bottom: 35px;
}

.contact-mobile__list {
  list-style: none;
  text-decoration: none;
  margin-left: 40px;
  padding-left: 0;
  margin-bottom: 64px;
}

.contact-mobile__item {
  margin-bottom: 32px;
}

.contact-mobile__link-mail {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mobile__link-mail:hover, .contact-mobile__link-mail:focus {
  color: #2196f3;
}

.contact-mobile__link-phone {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mobile__link-phone:hover, .contact-mobile__link-phone:focus {
  color: #2196f3;
}

.footer__mob-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__mob-item {
  display: inline;
  list-style: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 0;
  margin-left: 40;
}

.footer__mob-link {
  display: inline-block;
  color: #2196f3;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.footer__mob-item {
  display: inline;
}

.footer__mob-item:not(:last-child):after {
  content: "";
  display: inline;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .modal {
    width: 450px;
  }
}

.modal__close {
  margin-bottom: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__close-button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  fill: #212121;
}

.modal__close-button:focus,
.modal__close-button:hover {
  fill: #2196f3;
}

.modal__close__link {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 11px;
  height: 11px;
}

.modal__headline {
  display: block;
  padding: 2px 40px 12px 40px;
  width: 100%;
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  display: block;
  padding: 0 40px 40px 40px;
}

.form__label {
  display: block;
  margin: 0;
  padding: 0 0 4px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__comment {
  width: 100%;
  height: 134px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 0;
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .form__comment {
    height: 120px;
  }
}

.modal__agreement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 0;
}

.agreement__text {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement__text a {
  color: #2196f3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.95;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .agreement__text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.agreement__terms {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  line-height: 1;
}

@media screen and (min-width: 480px) and (max-width: 1170px) {
  .agreement__terms {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .agreement__checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/modal/modal-icon-check.svg);
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-background-origin: border-box;
          background-origin: border-box;
}

.agreement__checkbox {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 7px;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.input-relative {
  position: relative;
  display: block;
}

.form__input {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 12px 10px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  fill: #212121;
}

.form__input:hover + .form__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  cursor: pointer;
  top: 65%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: #212121;
}

.form__icon:hover,
.form__icon:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__confirm-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 0;
  padding: 10px 50px;
  margin: 0;
  letter-spacing: 0.06em;
}

.confirm-button:hover,
.confirm-button:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.confirm-button__text {
  font-family: Roboto, VHelvetica Neue, sans-serif;
  font-style: normal;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
}

.feature-set {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */